{% extends 'base.html.twig' %}

{% block body %}
    {% for article in articles %}
        <div class="clearfix">
            <div style="float: left; margin-right: 20px;">
                <a href="/article/{{ article.getId() }}" style="width:230px; height:150px;">
                    <img src="{{ article.getImages().medium.image }}" width="230" height="150" style="width:230px; height:150px;" />
                </a>
            </div>
            <div>
                <h4> <a href="/article/{{ article.getId() }}">{{ article.getTitle() }}</a></h4>
                <p>
                    {{ article.getExcerpt() }}
                </p>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}